@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
body {
    overflow: auto;
    padding: 0;
    margin: 0;
    font-family: roboto;
}
#header-img {
    width: 500px;
    height: 250px;
    border: 1px solid black;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 100px 50px 100px;
    gap: 100px;
}
.logo {
    font-size: 28px;
    font-weight: 900;
    color:#F9FAF8;
    text-decoration: underline;
}
.title {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}
.links,.subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.links {
    display: flex;
    gap: 50px;
}
.top-cont {
    display: flex;
    justify-content: space-between;

}
.top-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.contact {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    font-weight: 800;
    font-size: 16px;
    border-radius: 12px;
    padding: 5px 15px;
}
.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0px 70px 0px;
}
.thumbnail {
    width: 180px;
    height: 220px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.cars-title {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}
.car-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.elem {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 18px;
    color: rgb(90, 89, 89);
}
.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}
.quote-author {
    font-size: 23px;
    font-weight: 1000;
    color: black;
    text-align: right;
}
.cta {
    background-color: white;
    padding: 100px 200px;
}
.cta-section {
    background-color: #3882F6;
    padding: 40px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.cta-text {
    display: flex;
    flex-direction: column;
}
.cta-title {
    font-size: 28px;
    font-weight: 600;
    color: #F9FAF8;
}
.cta-desc {
    font-size: 18px;
    color: #E5E7EB;
}
.cta-buttom {
    background-color: transparent;
    border: 1px solid #F9FAF8;
    border-radius: 12px;
    color: #F9FAF8;
    font-weight: 600;
    padding: 5px 30px;
    font-size: 16px;
}
